@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "outfit, sans-serif";
}
*{
  scroll-behavior:smooth;
}
  @layer base{
    button{
      @apply cursor-pointer
    }
    input:not([type="checkbox"]){
      @apply outline-none focus:ring border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
    }
    textarea{
       @apply outline-none focus:ring border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
    }
  }

  /* PRINT FIX */
@media print {
  body * {
    visibility: hidden;
  }

  #resume-preview, #resume-preview * {
    visibility: visible;
  }

  #resume-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
